body{
 background-color: black; 
 color:seashell;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 22px;
 
} 
nav{
  border-bottom: 1px solid seashell;
}
 
 #menu {
    position: absolute;
    bottom: 88%;
    left: 75%;
    word-spacing: 7px;
}
  h2 , h4 {
    opacity: 0.7;
    text-align: center;
    
}
#banner {
    position: absolute;
    bottom:50%;
    background-color: black;
    width: 100%;
}
#background{
   position: absolute;
   left: 10%;
}
#inventory {
  position: absolute;
  top:140%;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
}
.teaimg {
  width: 300px;
  height: 200px;
  

}

figcaption {
  text-align: center;
  opacity: 0.7;
}

#locations {
  height: 600px;
  width: 1000px; 
  position: absolute;
  top: 220%;
  left: 18%;
 
}
#headyloc {
   padding-top: 105%;
  
}
#downtown {
  background-color:black;
  width: 300px; 
  position: absolute;
  left: 19%; 
  line-height: 70px; 
  
}
ul{
  list-style-type: none;
  opacity: 0,7;

}
#bayside {
  background-color:black;
  width: 300px; 
  position: absolute;
  left: 41%; 
  line-height: 70px; 
  
}
#oakdale {
  background-color:black;
  width: 300px; 
  position: absolute;
  left: 63%; 
  line-height: 70px; 
}
#teacozy {
  padding-top: 32%;
}
#mail {
  text-align: center;
  opacity: 0.7;
}
#footer {
  opacity: 0.7;
  position:absolute; 
  left: 20px; 
}
