body{
 background-color: black; 
 color:seashell;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 22px;
 
} 
nav{
  border-bottom: 1px solid seashell;
}
 
 #menu {
    position: absolute;
    bottom: 88%;
    left: 75%;
    word-spacing: 7px;
}
  h2 , h4 {
    opacity: 0.7;
    text-align: center;
    
}
#banner {
    position: absolute;
    bottom:50%;
    background-color: black;
    width: 100%;
}
#background{
   position: absolute;
   left: 10%;
}
#inventory {
  position: absolute;
  top:150%;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
}
#berry {
  width: 300px;
  height: 200px;
  

}
#rum {
  width: 300px;
  height: 200px; 
  
  
}
#donut {
  width: 300px;
  height: 200px;
 
}
#myrtle {
  width: 300px;
  height: 200px;


}
#bedford {
  width: 300px;
  height: 200px;
  
}
figcaption {
  text-align: center;
  opacity: 0.7;
}
